.review_block {
  max-width: 1000px;
  margin: 110px auto;
  padding: 40px;
  color: #fff;
  border-radius: 12px;
  text-align: center;
  position: relative;
}

.review_block h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffcc00;
}

.review_block a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.review_block a:hover {
  text-decoration: underline;
}

.review_block form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
}

.review_block fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review_block label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
  color: #ddd;
  font-size: 18px;
}

.review_block input,
.review_block textarea {
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  background: #3a3a55;
  color: white;
  transition: 0.3s ease-in-out;
}

.review_block input:focus,
.review_block textarea:focus {
  outline: 2px solid #ffcc00;
}

.review_block textarea {
  resize: vertical;
  min-height: 160px;
}

.review_block input[type="submit"] {
  cursor: pointer;
  background: #ffcc00;
  color: #1e1e2f;
  font-weight: bold;
  padding: 14px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}

.review_block input[type="submit"]:hover {
  background: #e6b800;
}

@media (max-width: 600px) {
  .review_block {
    max-width: 95%;
    padding: 20px;
  }

  .review_block form {
    padding: 20px;
  }

  .review_block input,
  .review_block textarea {
    font-size: 16px;
  }
}
