.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #111;
    color: white;
  }
  
  .contentContainer {
    display: flex;
    flex: 1;
    width: 100%;
  }
  
  .sidebar {
    width: 250px;
    background-color: #111;
    color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 100vh;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
    background-color: #111;
    color: white;
    overflow-y: auto;
  }
  
  header {
    
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-left {
    flex: 1;
  }
  
  .header-right {
    display: flex;
    gap: 10px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 10;
  }
  
  .search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 5px 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
  }
  .dropdown-menu {
    max-width: 20px;
    overflow-y: auto; 
  }
  
  .navbar-nav .nav-item.dropdown {
    white-space: nowrap; 
  }
  
  